* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  body {
    background-color: #212529;
    color: #f1f5f9;
    font-family: "Ubuntu", sans-serif;
  }
  
  main {
    max-width: 26rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color:#f1f5f9;
    padding:1.5rem;
    border-radius: 25px;
  }
  
  header {
    padding: 2rem 0;
  }
  

  
  button {
    background-color: #0A0A23;
    border: none;
    border-radius: .25rem;
    font-weight: 700;
    padding: .5rem 1rem;
    transition: .15s;
    border-radius: 20px;
  }
  
  input {
    background-color: #1B1B32;
    border: 2px solid #6666;
    border-radius: .5rem;
    color: #f1f5f9;
    display: block;
    font-size: 1.75rem;
    margin: 0 auto;
    padding: 1.1rem;
    text-align: end;
    width: 100%;
    border-radius: 40px;
  }
  
  #keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .7rem .5rem;
    margin: 2rem 0;
  }
  
  #keys button {
    color: #f1f5f9;
    cursor: pointer;
    font-size: 1.7rem;
    padding: 1.4rem 1rem;
  }
  .operators{
  background-color: #00471B !important;
  }
  .operators:hover{
    background-color: #036e2c !important;
  }
  #keys button:hover {
    background-color: #4d4d94;
  }
  
  #result {
    border-width: 2px 2px 2px 0;
    border-radius: 0px 40px 40px 0px;
  }
  
  #copyToClipboard {
    background-color: transparent;
    border: solid #6666;
    border-width: 2px;
    border-radius: .5rem 0 0 .5rem;
    color: #0A0A23;
    cursor: pointer;
    display: block;
    height: 4.25rem;
    width: 6rem;
     border-radius: 40px 0px 0px 40px;
  }
  
  .flex {
    display: flex;
  }
  
  .align-center {
    align-items: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .error {
    color: white;
  }
  
  .success {
    border-color: #0A0A23 !important;
    color: #0A0A23 !important;
  }
